    <div id="hello" style="width: 10%; margin: 0 auto; text-align: center;">
      <h1>{{hello_message}}</h2>

      {{#if image }}
           <img width='150px' src="{{image_url}}">
      {{/if}}
    </div>
